# Preprocess of Companies Stock Proces DataSets

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [48]:
stocks_df = pd.read_csv('../Data/Original/companies_stock_prices.csv')
stocks_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Capital Gains
0,1999-07-26 00:00:00-04:00,27.240422,27.527769,26.857294,26.857294,50885000,0.0,0.0,MSFT,NaN
1,1999-07-27 00:00:00-04:00,27.221262,27.508608,26.972229,27.221262,65513000,0.0,0.0,MSFT,NaN
2,1999-07-28 00:00:00-04:00,27.336208,27.738493,27.087174,27.585241,62215200,0.0,0.0,MSFT,NaN
3,1999-07-29 00:00:00-04:00,27.182956,27.221268,26.455012,26.646576,57968200,0.0,0.0,MSFT,NaN
4,1999-07-30 00:00:00-04:00,26.857304,27.163806,26.205985,26.301767,51127400,0.0,0.0,MSFT,NaN

In [49]:
#Modify date to Analysis
stocks_df['Date'] = pd.to_datetime(stocks_df['Date'], utc=True)
#stocks_df['Date'] = stocks_df['Date'].dt.date

In [50]:
stocks_df['Date'] = stocks_df['Date'].dt.date
stocks_df['Date'].head(2)

0    1999-07-26
1    1999-07-27
Name: Date, dtype: object

### Clean Dataset

In [51]:
#Set Date Format
stocks_df['Date'] = pd.to_datetime(stocks_df['Date'], errors='coerce')
stocks_df['Date'] = stocks_df['Date'].dt.date
stocks_df['Date'].head(2)

0    1999-07-26
1    1999-07-27
Name: Date, dtype: object

In [52]:
clean_stocks_df = stocks_df.pivot_table(index='Date', columns='Ticker', values=['Close', 'High', 'Low'], aggfunc='mean')
clean_stocks_df.columns = [f'{col[0]}_{col[1]}' for col in clean_stocks_df.columns]
clean_stocks_df.head()

,Close_JNJ,Close_JPM,Close_MSFT,Close_PG,Close_SPY,Close_XOM,High_JNJ,High_JPM,High_MSFT,High_PG,High_SPY,High_XOM,Low_JNJ,Low_JPM,Low_MSFT,Low_PG,Low_SPY,Low_XOM
Date,,,,,,,,,,,,,,,,,,
1999-07-26,24.889208,26.153475,26.857294,22.246281,84.923210,17.306868,25.017173,26.252092,27.527769,22.485146,85.789774,17.889310,24.777238,25.325084,26.857294,22.166659,84.844432,17.265265
1999-07-27,24.761236,26.429611,27.221262,22.453300,85.632195,17.209791,25.065153,26.626848,27.508608,22.660317,86.469216,17.445542,24.681258,26.114035,26.972229,22.134814,85.317081,17.112717
1999-07-28,24.505304,26.173203,27.585241,21.943720,85.907906,17.514881,24.633269,26.607120,27.738493,22.389601,86.538133,17.695161,24.409331,26.133754,27.087174,21.943720,85.454929,17.112718
1999-07-29,23.865486,25.325098,26.646576,22.453300,84.706596,17.279131,24.169403,25.956253,27.221268,22.580695,85.238351,17.390072,23.705530,25.167310,26.455012,21.943722,84.017284,17.182057
1999-07-30,23.305645,24.319199,26.301767,23.074371,83.662720,17.611959,23.897484,25.048972,27.163806,23.552102,85.297373,17.736769,23.305645,24.062791,26.205985,22.548868,83.544552,17.403944

In [53]:
clean_stocks_df.to_csv('../Data/Preprocessed/clean_stock_marcket.csv')

### Independient DataSets

### Microsoft

In [38]:
MSFT_df = stocks_df[stocks_df['Ticker'] == 'MSFT']
MSFT_df = MSFT_df.drop(['Open', 'Volume', 'Dividends', 'Stock Splits', 'Ticker'], axis=1)
MSFT_df.head(3)

         Date       High        Low      Close
0  1999-06-18  26.052731  25.171535  26.052731
1  1999-06-21  27.278731  26.014408  27.259575
2  1999-06-22  27.106340  26.435866  26.512491

In [39]:
MSFT_df.to_csv('../Data/Preprocessed/MSFT_Data.csv')

### XOM

In [40]:
XOM_df = stocks_df[stocks_df['Ticker'] == 'XOM']
XOM_df = XOM_df.drop(['Open', 'Volume', 'Dividends', 'Stock Splits', 'Ticker'], axis=1)
XOM_df.head(3)

            Date       High        Low      Close
6535  1999-06-18  18.222138  17.792240  17.833843
6536  1999-06-21  17.722897  17.168190  17.362337
6537  1999-06-22  17.279133  17.043383  17.084986

In [41]:
XOM_df.to_csv('../Data/Preprocessed/XOM_Data.csv')

### JPM

In [42]:
JPM_df = stocks_df[stocks_df['Ticker'] == 'JPM']
JPM_df = JPM_df.drop(['Open', 'Volume', 'Dividends', 'Stock Splits', 'Ticker'], axis=1)
JPM_df.head(3)

             Date       High        Low      Close
13070  1999-06-18  25.543460  25.109519  25.287041
13071  1999-06-21  26.431068  25.563183  26.352171
13072  1999-06-22  26.431074  25.720985  25.799885

In [43]:
JPM_df.to_csv('../Data/Preprocessed/JPM_Data.csv')

### JNJ

In [44]:
JNJ_df = stocks_df[stocks_df['Ticker'] == 'JNJ']
JNJ_df = JNJ_df.drop(['Open', 'Volume', 'Dividends', 'Stock Splits', 'Ticker'], axis=1)
JNJ_df.head(3)

             Date       High        Low      Close
19605  1999-06-18  23.657540  23.161676  23.225658
19606  1999-06-21  23.225656  22.985721  23.049704
19607  1999-06-22  23.385614  23.065701  23.241653

In [45]:
JNJ_df.to_csv('../Data/Preprocessed/JNJ_Data.csv')

### PG

In [46]:
PG_df = stocks_df[stocks_df['Ticker'] == 'PG']
PG_df = PG_df.drop(['Open', 'Volume', 'Dividends', 'Stock Splits', 'Ticker'], axis=1)
PG_df.head(3)

             Date       High        Low      Close
26140  1999-06-18  22.770711  22.104251  22.318470
26141  1999-06-21  22.183596  21.786894  22.072519
26142  1999-06-22  22.183608  21.786905  21.993191

In [47]:
PG_df.to_csv('../Data/Preprocessed/PG_Data.csv')

### S&P 500

In [55]:
SPY_df = stocks_df[stocks_df['Ticker'] == 'SPY']
SPY_df = SPY_df.drop(['Open', 'Volume', 'Dividends', 'Stock Splits', 'Ticker', 'Capital Gains'], axis=1)
SPY_df.head(3)

             Date       High        Low      Close
32670  1999-07-26  85.789774  84.844432  84.923210
32671  1999-07-27  86.469216  85.317081  85.632195
32672  1999-07-28  86.538133  85.454929  85.907906

In [56]:
SPY_df.to_csv('../Data/Preprocessed/SPY_Data.csv')